*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #c2c2c2;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	flex-direction: column;
}

.perfis{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.pulse{
    animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.animate__bounceIn:hover{
    animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		transform: scale(0.8);
	}

	50% {
		transform: scale(1);
	}

	100% {
		transform: scale(1);
	}
}

.animate__bounceIn:hover{
	display: inline-block;
	animation: animate__bounceIn;
    animation-duration: 5s;
}

.my-style{
	background-color: #535353;
	color: white;
}

.titulo{
	text-align: center;
	color: rgb(68, 68, 68);
	margin-bottom: 10rem;
}